<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mirko.assignment1">
    <user-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AutoPal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyCar" />
        <activity android:name=".Register" />
        <activity
            android:name=".OilChange"
            android:label="@string/title_activity_oil_change"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OilResults"
            android:label="@string/title_activity_oil_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name=".MainActivity$MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


    </application>

</manifest>